/* CSS personalizado */

@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

.pazemente-logo {
  max-width: 240px;
}

.hero {
  background: linear-gradient(rgb(0, 40, 45), rgba(0, 40, 45, 0)), url(../images/banner-paz-e-mente.jpeg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.hero .container-hero {
  height: 200px;
}

.hero-buttons {
  /* height: 5rem; */
  margin-top: 30px;
}

.note {
  padding: 1rem;
}

.text-banner {
  display: flex;
  align-items: center;
}

.selo-mec {
  height: 200px;
}

.logo-unesco {
  height: 338px;
}

.hamburguer {
  height: 65px;
  width: 65px;
}

/* background: url(https://images.squarespace-cdn.com/content/v1/5c03fc8…/1631817390527-9BZEGKIRIGZJ907AEXOS/selos.png?format=300w) no-repeat; */